:root {
  interpolate-size: allow-keywords;

  --color-main: #fff;
  --color-sub: #000;
  --color-secondary: #888;
  --color-tertiary: #ccc;
  --color-accent: #00f;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: saitamaar;
  src: url("saitamaar.woff2") format("woff2"),
    url("saitamaar.woff") format("woff"),
    url("saitamaar.ttf") format("ttf");
  font-display: swap;
}

.saitamaar-light {
  font-family: saitamaar, sans-serif;
  white-space: pre;
  font-size: 16px;
  line-height: 18px;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  box-sizing: border-box;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  border: 40px solid var(--color-sub);
  border-top: none;
  border-right: none;
  border-bottom: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 14px;
  font-weight: normal;
  font-family: saitamaar, PikoA, "Helvetica Neue", Helvetica, Arial, system-ui, sans-serif;
  letter-spacing: -0.05em;
  font-feature-settings: "palt"1;
  word-break: auto-phrase;
  overflow: hidden;
}

a {
  color: var(--color-sub);
  text-decoration: underline;
  transition: 0.1s linear(0, 0.45, 0.48, 0.52, 0.55, 1), background-color 0.1s linear(0, 0.45, 0.48, 0.52, 0.55, 1);

  &:hover {
    color: var(--color-main);
    background-color: var(--color-sub);
  }
}

::selection {
  color: var(--color-main);
  background-color: var(--color-accent);
}

img {
  padding: 0;
  image-rendering: pixelated;
}

h1 {
  line-height: 1;
  margin-block: 0 -2px;
  margin-inline: 0;
}

summary {
  list-style: none;
  cursor: pointer;
}

/* ===================
  スキップリンク
=================== */
.skip-link {
  position: fixed;
  top: -40px;
  left: 6px;
  background: var(--color-sub);
  color: var(--color-main);
  padding: 8px;
  text-decoration: none;
  z-index: 9999;
  transition: top 0.3s;
  margin-bottom: 4px;
}

.skip-link:focus {
  top: 6px;
}

.skip-link:hover {
  background: var(--color-secondary);
}

/* 複数のスキップリンクの配置調整 */
#skip-about:focus {
  top: 6px;
}

#skip-gallery:focus {
  top: 50px;
}

#skip-works:focus {
  top: 94px;
}

#skip-links:focus {
  top: 138px;
}

/* ===================
  flexbox rayout
=================== */
#flexrayout {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0;
}

/* gridレイアウトカラム幅メモ 130px 1fr 0.5fr */
#item1 {
  align-self: flex-start;
  flex: 0 1 800px;
  margin-right: 100%;
  position: relative;
}

#item2 {
  order: 2;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 0;
  grid-auto-flow: dense;
  margin-left: 5px;

  & > .section {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: dotted 2px var(--color-sub);
  }

  & > .section:nth-last-child(2) {
    border-bottom: none;
  }

  & > .section:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

#about {
  grid-area: 1 / 1 / 1 / 1;
}

#changelog {
  grid-area: 2 / 1 / 2 /1;
}

#txt {
  grid-area: 3 / 1 / 3 / 1;
}

#gallery {
  grid-area: 1 / 2 / 6 / 2;
}

#works {
  grid-area: 4 / 1 / 4 / 1;
}

#item3 {
  flex: 0 1 200px;
  order: 1;
  margin-left: 0;
  width: 100vw;

  & > .section {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: dotted 2px var(--color-sub);
  }

  & > .section:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}


@media screen and (width <= 1024px) {
  /* 1024pxまでの幅の場合に適応される */
  body {
    background-color: var(--color-main);
  }
}

@media screen and (width <= 850px) {
  #item2 {
    display: block;
  }
}

@media screen and (width <= 768px) {
  /* 768pxまでの幅の場合に適応される */
  #item1 {
    order: 0;
  }

  #item2 {
    order: 1;
  }

  #item3 {
    order: 2;
  }
}

@media screen and (width <= 576px) {
  /* 576pxまでの幅の場合に適応される */
  #wrapper {
    border: 20px solid var(--color-sub);
    border-top: none;
    border-right: none;
    border-bottom: none;
  }

  #item1 {
    #sitetitle {
      margin-right: 54px;
    }

    @supports (-webkit-touch-callout: none) {
      #sitetitle {
        margin-top: 0;
      }
    }
    
    &::after {
      display: block;
      content: "";
      width: 100vw;
      height: 120px;
      background-image: url("img/ogp.gif");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 6%;
    }
  }

  #item2 {
    flex: 0 1 100%;
  }

  #item3 {
    flex: 0 1 100%;
    margin-left: 0;
  }

}

@media screen and (width <= 320px) {
  /* 320pxまでの幅の場合に適応される */
  #wrapper {
    border: none;
  }
}

/* ===================
  各セクション間の幅
=================== */
.section,
nav.section {
  padding: 0;
  display: block;
}

/* ===================
  タイトルアイコン
=================== */
#sitetitle {
  display: inline-block;
  position: relative;
  color: var(--color-sub);
  font-size: 2rem;
  margin-top: -5px;
  margin-left: -2px;
  margin-bottom: -3px;
}

#sitetitle::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 35px;
  height: 10px;
  background-image: url("heart_3.webp");
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: -1px;
  margin-top: 17px;
}

.icon {
  display: inline-block;
  width: 1.8rem;
}

/* ===================
  各セクションのタイトルに対する装飾
=================== */
.highlight {
  display: inline-block;
  background-color: var(--color-sub);
  color: #fff;
  padding-bottom: 1px;
  padding-right: 3px;
  line-height: 12px;
  margin: 1px 0;
  font-size: 1rem;
  font-weight: normal;

  &::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("icon.webp");
    background-size: contain;
    vertical-align: text-bottom;
    image-rendering: pixelated;
  }
}

.section-title {
  display: inline-block;
  color: var(--color-main);
  background-color: var(--color-secondary);
  font-size: 1rem;
  font-weight: normal;
  padding: 0 20px;
}

a.highlight-anchor {
  color: var(--color-main);
  padding: 0;
  text-decoration: underline;
}

h2 {
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
}

.internallink {
  font-size: 10pt;
  padding-left: 0.4rem;
}

/* ===================
  item1
=================== */


/* ===================
  インデント
=================== */
#accesscounterhtml,
#last-updatedhtml {
  text-indent: -0.6em;
  padding-left: 0.6em;
}

/* ===================
  links
=================== */
#social-links {
  border-top: dotted 2px var(--color-sub);
  padding-top: 10px;
  margin-top: 10px;

  & > div {
    border-bottom: dotted 2px var(--color-sub);
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  h4 {
    font-weight: normal;
    margin-bottom: 1rem;
  }

  a {
    text-decoration: underline;
  }

  & > div:nth-child(1) a {
    &::before {
      content: "♥";
      font-size: 0.95rem;
    }
  }
}

/* ===================
  changelog and text
=================== */
#changelogcontainer,
#texthtml {
  width: 220px;
  line-height: 1.1rem;
  padding-left: 5.6em;
  text-indent: -5.6em;
}

#changeloghtml {
  li:has(details) {
    display: flex;
  }

  ol {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    
    li:nth-last-child(n+6) {
      display: none;
    }
  }

  details {
    display: inline;
    text-indent: -7px;

    ul {
      list-style-type: "- ";
      padding-left: 10px;
      text-indent: 0;
    }
  }

  details[open] {
    display: inline;
    padding-left: 0;
    text-indent: -7px;
  }
  
  summary {
    list-style-type: none;
    text-decoration: underline;
  }

  .description {
    display: none;
  }
}

#changelogcontainer {
  a {
    text-decoration: underline;
  }
}

#texthtml {
  ol {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
  }
}

#zakkihtml {
  .monthlist {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;

    .month {
      margin-right: 10px;
    }

    .month:last-child {
      margin-right: 0;
    }
  }

  ol {
    margin-top: 2px;
    list-style: none;

    li {
      margin-bottom: 2px;
    }
  }

  a {
    text-decoration: underline;
  }
}

/* ===================
  galleryセクション
=================== */
#galleryhtml {
  padding-left: 20px;
}

#gallerymaphtml {
  details {
    margin-bottom: 2px;

    &::details-content {
      @media (prefers-reduced-motion: no-preference) {
        overflow: clip;
        transition-duration: 35ms;
        transition-property: content-visibility, block-size;
        transition-behavior: allow-discrete;
      }
    }

    &:not([open])::details-content {
      block-size: 0;
    }
  }

  summary {
    display: inline-block;
    list-style: none;
    color: var(--color-main);
    background-color: var(--color-secondary);
    padding-left: 3px;

    &:hover {
      color: var(--color-sub);
      background-color: var(--color-main);
    }

    &::before {
      display: inline;
      content: "+";
      margin-right: 5px;
    }

    [open] &::before {
      display: inline;
      content: "-";
      margin-right: 5px;
    }

    h3 {
      display: inline-block;
      font-weight: normal;
      line-height: 12px;
      font-size: 1rem;
    }

    a {
      background-color: #fff;
      color: #000;
      padding-left: 5px;
    }
  }
}

#rootbox {
  padding-left: 4px;
}

.summary-boxes {
  border-left: dotted 2px var(--color-secondary);
  padding-left: 10px;
  margin: 5px 0 5px 5px;

  a {
    margin-right: 0.5rem;
  }
}

.lowerbox {
  text-indent: -22px;
  padding-left: 21px;
  margin-top: 3px;
  margin-left: -0.14rem;
}

#works-content {
  p::before {
    content: ">";
    margin-right: 2px;
  }

  .boxes {
    margin-bottom: 5px;
  }
}

.boxes {
  line-height: 16px;
  font-size: 18px;
  text-decoration: none;
}

.boxes > p {
  display: inline;
  font-size: 0.95rem;
  letter-spacing: -0.05em;
}

#groundpolis-paint-content:nth-last-child(1) {
 a:nth-child(10)::after {
    content: "\A";
    white-space: pre;
 }
}

#randomjump > a:hover {
  background-color: transparent;
}

/* ===================
  worksセクション
=================== */
#workshtml {
  line-height: 1.1rem;

  ol {
    list-style-type: none;
  }
}

/* ===================
  Button
=================== */

button {
  appearance: none;
  border: 0;
  border-radius: 0;
  background: var(--color-sub);
  color: var(--color-main);
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

button:hover {
  background: var(--color-secondary);
}

/* ===================
  footerBlock
=================== */

#footerhtml {
  margin-top: 0;
  z-index: 10;
  position: relative;
}

.nav-links {
  display: none;
}

#foot-links {
  display: none;
}

#footer {
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 100%;
}

#foot-comment {
  display: none;
}

.logo {
  display: flex;
  align-items: flex-end;
  
  .logo-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 20;
    
    &:hover {
      background-color: transparent;
    }
  }

  &::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 12px;
    background-image: url("heart_3.webp");
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    image-rendering: pixelated;
    pointer-events: none;
    margin-right: 5px;
  }
}

#logo-footer {
  width: 35px;
  min-width: 35px;
  padding: 0;
  image-rendering: pixelated;
}

/* ===================
  flexレイアウト以外のメディアクエリ
=================== */
@media screen and (width <= 1024px) {
  /* 1024pxまでの幅の場合に適応される */

}

@media screen and (width >= 576px) {
  /* 576px以上の幅の場合に適応される */
}

@media screen and (width <= 576px) {
  /* 576pxまでの幅の場合に適応される */
  body {
    font-size: 0.9rem;
    letter-spacing: 0;
    line-height: 17px;
    overflow-wrap: break-word;
  }

  .section,
  nav.section {
    padding: 0 0 5px;
  }

  #item1 {
    flex: 0 1 100%;
    text-align: right;
    margin-right: 10%;
  }

  #item2 {
    & > .section:nth-last-child(2) {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: dotted 2px var(--color-sub);
    }

    & > .section:last-child {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: dotted 2px var(--color-sub);
    }
  }

  #sitetitle {
    font-size: 2rem;
  }

  #sitetitle::after {
    margin-left: 0;
    margin-top: 18px;
  }

  #center-img {
    display: none;
  }

  .boxes {
    line-height: 17px;
    margin: 3px 0;
  }

  #changelogcontainer {
    width: 65vw;
    padding-left: 6.3em;
    text-indent: -6.3em;
  }

  #social-links {
    margin-bottom: 1rem;
  }

  #banner-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
  }


  #randomjumpimg {
    position: relative;
    width: 100% !important;
    height: 170px;
    object-fit: cover;
    object-position: 50% 35%;
    margin-right: 5px;
  }

  a.link-img span {
    display: none;
    position: absolute;
    top: 2.5em;
    left: 20px;
  }
}

@media screen and (width <= 470px) {
  /* 470pxまでの幅の場合に適応される */
  #banner-container {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (width <= 420px) {
  #banner-container {
    margin-left: 5px;
    flex-direction: column;

    .banner-img {
      width: 200px;
      height: 40px;
    }
  }
}