/* ===================
  linksBlock
=================== */

/* ----文字装飾---- */
h2 {
  display: inline-block;
  font-size: 1.2em;
  border-bottom: dotted 3px #000;
  margin-bottom: 15px;
  line-height: 16px;
}

#crosslinks_header,
#favlinks_header{
  margin-top: 1.5em;
}
  
.site_name {
  font-size: 14pt;
  font-weight: bold;
  display: block;
  margin-bottom: -0.3em;

  &::after {
    display: contents!important;
    background-image: none!important;
    transform: translateY(0)!important;
    height: 0!important;
    width: 0!important;
  }
}
  
.url {
  font-size: 10pt;
  color: #666;
  text-decoration: none;
  word-break: break-all;

  &::after {
    display: contents!important;
    background-image: none!important;
    transform: translateY(0)!important;
    height: 0!important;
    width: 0!important;
  }
}
  
/* ----セクション全体のレイアウト---- */
#galleryspace > div {
  margin: 0.5em 0;
}

.links_contents {
  padding-left: 0;
  margin-left: 0;
}
  
/* ----個別リンクカードのスタイル---- */
.favs {
  padding-left: 10px;
  background-image: linear-gradient(to bottom, #000 4px, transparent 4px);
  background-size: 2px 8px;
  background-repeat: repeat-y;
  background-position: left bottom;
  margin-bottom: 25px;
  margin-left: 5px;
  position: relative;
  transition: all 0.1s ease;
}
  
/* リンクカードのヘッダー部分 */
.link_title_box {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  border-bottom: 2px dotted #ccc;
}
  
.title_and_url {
  flex: 1;
  min-width: 0; /* flexboxでの縮小を許可 */
  margin-left: 5px;
}
  
#crosslinks,
#favlinks,
#my_banner {
  .banner-img {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 31px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 0.3em;
    max-width: 120px;

    a:hover {
      background-color: transparent !important;
    }

    a::after {
      display: contents!important;
      background-image: none!important;
      transform: translateY(0)!important;
      height: 0!important;
      width: 0!important;
    }
  }

  /* バナー画像がない場合のプレースホルダー */
  .banner-img img[src="./empty.png"],
  .banner-img img[src="empty.png"] {
    display: none;
  }
  
  .banner-img:has(img[src*="empty.png"])::after {
    content: "[NO_BANNER]";
    font-size: 0.6em;
    color: #999;
    width: 120px;
    margin-left: -30%;
  }
}

  
/* キャプション部分 */
.link_caption {
  font-size: 10pt;
  line-height: 1.3;
  color: #333;
}
  
.link_caption p {
  font-size: 10pt;
  text-indent: -1.5em;
  padding-left: 2em;
}
  
.link_caption p::before {
  content: '♥ ';
  color: black;
  margin-right: 0.5em;
}
  
/* detailsタグのスタイル */
.link_caption details {
  margin-top: 0.8em;
  border-left: 3px solid #ddd;
  padding-left: 1em;
}
  
.link_caption summary {
  cursor: pointer;
  font-weight: bold;
  color: #666;
  margin-bottom: 0.5em;
}

/* rel属性による記号表示 */
.favs:has(a[rel="friend"]) .site_name::after {
  content: " [FRIEND]";
  font-size: 6pt;
  color: #666;
}
  
.favs:has(a[rel="acquaintance"]) .site_name::after {
  content: " [ACQUAINTANCE]";
  font-size: 6pt;
  color: #666;
}
  
.favs:has(a[rel="muse"]) .site_name::after {
  content: " [INSPIRATION]";
  font-size: 6pt;
  color: #666;
}
  
.favs:has(a[rel="contact"]) .site_name::after {
  content: " [CONTACT]";
  font-size: 6pt;
  color: #666;
}

/* 登録サービスセクション */
#registered_services {
  margin-top: 1.5em;
  text-align: left;

  .links_contents {
    padding: 1em;
  }

  .registered_services_contents {
    margin-top: 1.5em;
    padding: 1em;
    background: #fbfbfb;
    border: 1px solid #ddd;

    a::after {
      display: contents!important;
      background-image: none!important;
      transform: translateY(0)!important;
      height: 0!important;
      width: 0!important;
    }
  }

  p {
    font-size: 10pt;
  }

  .search_site {
    max-width: 200px;
    max-height: 40px;
    margin-top: 0.5rem;
  }

  .banner-img {
    background-color: transparent;
    border: none;
    justify-content: left;
    width: 100%;
    max-width: 200px;
    max-height: 40px;

    a:hover {
      background-color: transparent !important;
    }
  }
  
  .banner-img a.registered_services_no_banner {
    width: 200px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #999;
    font-size: 0.8em;
  }
}
  
  
/* このページについてセクション */
#my_banner {
  p {
    font-size: 10pt;
  }

  .banner_assets{
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .links_contents{
    padding: 1em;
  }
}
  
#mybuttons {
  margin-top: 1.5em;
  padding: 1em;
  background: #fbfbfb;
  border: 1px solid #ddd;
  text-align: left;
}
  
#mybuttons div {
  margin: 1em 0;
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  flex-wrap: wrap;
}
  
/* ===================
  レスポンシブ対応
=================== */
@media screen and (max-width: 768px) {  
  .site_name {
    font-size: 14pt;
  }
}
  
@media screen and (max-width: 480px) {
  #galleryspace > div {
    margin: 1.5em 0;
  }
  
  .highlight {
    font-size: 1.1em;
    padding: 0.3em 0.4em;
  }
  
  .favs {
    margin-bottom: 2em;
  }
  
  .link_caption {
    font-size: 10pt;
  }
  
  #mybanner p {
    flex-direction: column;
    align-items: center;
  }
}