/*---------------------------------------------------------

.desc{
  font-size: 0.8em;
}
div.favlinks > p{
  margin-bottom: 0.4rem;
}
.banner88-31, .banner200-40, .desc{
  padding-left: 6px;
  border-left: 2px dashed;
  margin-left: 4.5px;
}

---------------------------------------------------------*/


/*===================
  linksBlock
===================*/
div#galleryspace{
  .banner88-31 > img{
    max-width: fit-content;
    min-width: fit-content;
  }

  .banner200-40 > img{
    max-width: fit-content;
    min-width: fit-content;
  }
}

/*----文字装飾----*/

.highlight{
  display: inline-block;
  color: #fff;
  background-color: #000;
  font-size: 1.3em;
  clip-path: inset(0 0 4px 0);
}

.site_name{
  font-size: 16pt;
}

.url{
  font-size: 10pt;
  color: #aaa;
}

/*----インデント&レイアウト----*/

#galleryspace > div{
  margin-top: 40px;
  .highlight{
    margin-bottom: 20px;
  }
}

.links_contents{
  padding-left: 10px;
  margin-left: 5px;
}

.favs{
  padding-left: 10px;
  background-image: linear-gradient(to bottom, #000 4px, transparent 4px);
  background-size: 2px 8px;
  background-repeat: repeat-y;
  background-position: left bottom;
  margin-bottom: 32px;
  margin-left: 5px;
}

.link_title_box{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 5px;
  border-left: solid #444 5px;
  border-bottom: dotted #444 2px;
  margin-bottom: 10px;
  div:nth-child(1){
    width: 220px;
    min-width: 220px;
    margin-right: 0px;
  }
  div:nth-child(2){
    flex-grow: 1;
    word-break: break-all;
  }
}

.link_caption {
  font-size: 10pt;
  text-indent: -2em;
  padding-left: 3em;

  p::before{
  content: '♥ ';
  display: inline;
  padding-right: 1em;
  }
}

/*リンクカードのヘッダー*/
.title_and_url{
  display: flex;
  flex-direction: column;
}





/*===================
  @media
===================*/
@media screen and (max-width: 1024px) {
  /* 1024pxまでの幅の場合に適応される */
}

@media screen and (max-width: 768px) {
  /* 768pxまでの幅の場合に適応される */
  #main{
    width: 80%;
  }
  .link_title_box{
    div:nth-child(1){
      width: 200px;
      min-width: 200px;
    }
  }
}

@media screen and (max-width: 480px) {
  /* 480pxまでの幅の場合に適応される */
  #main{
    width: fit-content;
    margin-right: 10%;
  }
  .link_title_box{
    flex-direction: column;
  }
  .link_caption{
    text-indent: -2em;
    padding-left: 2em;
  }
}

@media screen and (max-width: 320px) {
  /* 320pxまでの幅の場合に適応される */
}

@media screen and (min-width: 768px) {
  /* 1024pxより広い幅の場合に適応される */
}