#texthtml {
	padding-left: 6.3em;
	text-indent: -6.3em;
	margin-bottom: 40%;

	ol {
		display: flex;
		flex-direction: column-reverse;
		list-style: none;
	}
}

h3 {
	font-size: 14pt;
	padding-left: 10px;
	border-left: 5px solid;
	border-bottom: 2px dotted;
	margin-left: 20px;
	margin-bottom: 1em;
}

img {
	image-rendering: auto!important;
}

.pixelated {
	img {
		image-rendering: pixelated!important;
	}
}

article {
	margin-bottom: 40px;

	.article-body {
		padding-left: 40px;

		h3 {
			padding-left: 10px;
			margin-left: 0;
		}	
	}

	p {
		margin-bottom: 2rem;
		line-height: 1.6;

		&::before {
			content: "¶";
			font-size: 1.1em;
			vertical-align: middle;
			margin-right: 0.1em;
		}

		&::first-line {
			line-height: 1.5;
		}
	}

	figure {
		margin-top: 2rem;
	}

	blockquote {
		font-size: 1em;
		margin-left: 1rem;
		border-left: solid 2px #bbb;
		padding-left: 1rem;
		color: #888;

		p::before {
			content: none;
		}
	}

	figcaption {
		font-size: 0.8em;
		display: block;
		text-align: right;
		color: #888;
		padding-top: 0;
		margin-top: -20px;
	}

	figcaption a {
		color: #888;
		text-decoration: none;
	}

	figcaption a:hover {
		color: #888;
		background-color: #fff;
		text-decoration: none;
	}

	.caption {
		font-size: 0.8em;
		display: block;
		margin-left: 2px;
	}

	ul.timeline_md {
		text-indent: -4.3em;
		margin-left: 6em;
		margin-right: 30px;
		list-style: none;
	}

	ul.timeline_ymd {
		text-indent: -7.3em;
		margin-left: 9em;
		margin-right: 30px;
		list-style: none;
	}

	li {
		margin-bottom: 5px;
	}

	.small {
		font-size: 0.8em;
	}

	hr {
		border: none;
		text-align: center;
		font-size: 1em;
		margin-right: 40px;
	}

	hr::before {
		content: "*****";
		letter-spacing: 1em;
		padding-left: 1em;
	}

	a {
		&:has(img)&:hover {
			background-color: transparent;
		}
	}

	h4 {
		padding-top: 1.5em;
		padding-bottom: 0.5em;
	}
}

#zakkizone,
.monthlist,
#taglist {
	list-style-type: none;
}

.monthlist {
	display: flex;
	flex-wrap: wrap;
	margin-left: 20px;
}

.month {
	margin-right: 20px;
}

#zakkihtml {
	margin-top: 60px;
}

@media screen and (width <= 900px) {
	h1 {
		font-size: 1.8em;
	}

	h2 {
		margin-top: 0;
	}

	article {
		h3 {
			margin-left: 10px;
		}

		.article-body {
			padding-left: 20px;
		}

		ul.timeline_md {
			text-indent: -4.3em;
			margin-left: 4.5em;
			margin-right: 5px;
		}

		ul.timeline_ymd {
			text-indent: -7.3em;
			margin-left: 7.5em;
			margin-right: 5px;
		}

		hr {
			margin-right: 20px;
		}

		iframe {
			width: 100%;
		}
	}
}

/* スマホサイズ */
@media screen and (width <= 576px) {
	article {
		p {
			line-height: 1.8;
			font-size: 0.9em;
		}
	}

	#zakkizone {
		.monthlist {
			font-size: 0.8rem;
			margin-left: 0;
			justify-content: space-evenly;
		}
		
		.month {
			margin-right: 0;
		}
	}
}

@media screen and (width <= 480px) {
	h1 {
		font-size: 20pt;
		margin-bottom: 20px;
	}

	h2 {
		margin-top: 0;
	}
	
	article {
		padding-bottom: 50px;
		border-top: 1px dotted;
		border-bottom: 1px dotted;
		margin-bottom: 5px;

		h3 {
			margin-left: 0;
		}

		.article-body {
			padding-left: 7px;
		}

		ul.timeline_md {
			text-indent: -4.3em;
			margin-left: 4.5em;
			margin-right: 5px;
		}

		ul.timeline_ymd {
			text-indent: -7.3em;
			margin-left: 8.5em;
			margin-right: 5px;
		}

		hr {
			margin-right: 0;
		}
	}
}

