#texthtml {
	padding-left: 6.3em;
	text-indent: -6.3em;
	margin-bottom: 40%;

	ol {
		display: flex;
		flex-direction: column-reverse;
		list-style: none;
	}
}

h3 {
	font-size: 14pt;
	padding-left: 10px;
	border-left: 5px solid;
	border-bottom: 2px dotted;
	margin-left: 20px;
	margin-bottom: 1em;
}

article {
	margin-bottom: 40px;

	.article-body {
		padding-left: 40px;

		h3 {
			padding-left: 10px;
			margin-left: 0;
		}	
	}
	p {
		margin-bottom: 2rem;
		line-height: 1.3;
	}
	blockquote {
		font-size: 1em;
		margin-left: 1rem;
		margin-bottom: 1rem;
		border-left: solid 2px #bbb;
		padding-left: 1rem;
		color: #888;

		cite {
			display: block;
			text-align: right;
			color: #888;
		}
		cite a {
			color: #888;
			text-decoration: none;
		}

		cite a:hover {
			color: #888;
			background-color: #fff;
			text-decoration: none;
		}
	}
	ul{
		font-size: 10pt;
	}
	ul.timeline_md {
		text-indent: -4.3em;
		margin-left: 6em;
		list-style: none;
	}
	ul.timeline_ymd {
		text-indent: -7.3em;
		margin-left: 9em;
		list-style: none;
	}
	li {
		margin-bottom: 5px;
	}
	.small {
		font-size: 0.8em;
	}
	hr {
		border: none;
		text-align: center;
		font-size: 1em;
	}
	hr::before {
		content: "*****";
		letter-spacing: 1em;
		padding-left: 1em;
	}
}
@media screen and (max-width: 900px) {
	h1 {
		font-size: 1.8em;
	}
	h2 {
		margin-top: 0rem;
	}
	article {
		h3 {
			margin-left: 10px;
		}
		.article-body {
			padding-left: 20px;
		}
		ul.timeline_md {
			text-indent: -4.3em;
			margin-left: 4.5em;
		}
		ul.timeline_ymd {
			text-indent: -7.3em;
			margin-left: 7.5em;
		}
		iframe {
			width: 100%;
		}
	}
}
@media screen and (max-width: 480px) {
	h1 {
		font-size: 20pt;
		margin-bottom: 20px;
	}
	h2 {
		margin-top: 0rem;
	}
	
	article {
		padding-bottom: 50px;
		border-top: 1px dotted;
		border-bottom: 1px dotted;
		margin-bottom: 5px;
		h3 {
			margin-left: 0px;
		}
		.article-body {
			padding-left: 7px;
		}
		ul.timeline_md {
			text-indent: -4.3em;
			margin-left: 4.5em;
		}
		ul.timeline_ymd {
			text-indent: -7.3em;
			margin-left: 8.5em;
		}
		hr {
			margin-right: 0;
		}
	}
}
#zakkizone,.monthlist,#taglist {
	list-style-type: none;
}
.monthlist {
	display: flex;
	flex-wrap: wrap;
	margin-left: 20px;
}
.month {
	margin-right: 20px;
}
#zakkihtml {
	margin-top: 60px;
}

/* 月別ページ用の省略表示スタイル */
.month-article {
	padding-left: 0px;
}

/* 省略表示用スタイル */
.article-preview {
	margin: 10px 0;
	padding: 0 40px;
	p {
		font-size: 10pt;
		line-height: 1.6;
		margin: 0;
	}
	.article-ellipsis {
		font-size: 12pt;
		text-align: center;
		margin: 10px 0;
	}
	.ellipsis {
		font-style: italic;
		font-weight: bold;
		color: #666;
	}
	.list-ellipsis {
		font-style: italic;
		color: #666;
		text-align: right;
	}
	.read-more-link {
		color: inherit;
		text-decoration: underline;
		&:hover {
			color: #fff;
			background-color: #000;
			text-decoration: none;
		}
	}
}

/* 月別ページ用記事のクラス */
.daily-article {
	background-image: linear-gradient(to bottom, #000 4px, transparent 4px);
	background-size: 2px 8px;
	background-repeat: repeat-y;
	background-position: left bottom;
	margin-bottom: 32px;
}

/* スマホサイズ */
@media screen and (max-width: 576px) {
	#zakkizone {
		.monthlist {
			font-size: 0.8rem;
			margin-left: 0;
			justify-content: space-evenly;
		}
		.month {
			margin-right: 0;
		}
	}
}